{% extends "base.html" %}

{% block content %}

<div class="page-header">

    <div>
        <h1>Edit Repository</h1>
        <p>Update repository configuration.</p>
    </div>

</div>

<div class="form-card">

<form method="post">

{% csrf_token %}

<div class="form-grid">

    <div class="form-group">
        <label>Project</label>
        {{ form.project }}
    </div>

    <div class="form-group">
        <label>Name</label>
        {{ form.name }}
    </div>

    <div class="form-group full-width">
        <label>Git URL</label>
        {{ form.git_url }}
    </div>

    <div class="form-group">
        <label>Branch</label>
        {{ form.default_branch }}
    </div>

    <div class="form-group">
        <label>Active</label>
        {{ form.is_active }}
    </div>

</div>

<br>

<button type="submit" class="btn-primary">
    Update Repository
</button>

</form>

</div>

{% endblock %}