{% extends "base.html" %}

{% block content %}

<h1>{{ scan.name }}</h1>

<div class="card">

    <p>
        <strong>Status:</strong>
        {{ scan.status }}
    </p>

    <p>
        <strong>Tool:</strong>
        {{ scan.tool }}
    </p>

</div>

<div class="card">

    <h2>Findings</h2>

    <table class="table">

        <thead>
            <tr>
                <th>Severity</th>
                <th>Title</th>
                <th>File</th>
                <th>Line</th>
            </tr>
        </thead>

        <tbody>

        {% for finding in findings %}

            <tr>
                <td>{{ finding.severity }}</td>
                <td>{{ finding.title }}</td>
                <td>{{ finding.file_path }}</td>
                <td>{{ finding.line_number }}</td>
            </tr>

        {% empty %}

            <tr>
                <td colspan="4">
                    No findings detected
                </td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}